@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Contract Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contract Manager</h2>
        <p>
            Contract Manager allows you to manage your job applications and the contract when it is secured.
        </p>
    </div>

</div>